{{! NAVBAR }}
<nav class="navbar navbar-dark bg-info">
    <a class="navbar-brand" href="#">
      <img src="images/helphands.png" width="100" height="100" alt="help"> i Wanna Help
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#signIn" href="#">Sign-In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#signUp" href="#">Create Account</a>
          </li>
        </ul>
    </div>
</nav>
{{! CAROUSEL }}
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="images/volunteer1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/volunteer1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/volunteer1.jpg" alt="Third slide">
      </div>
    </div>
</div>
<br>
<div class="search container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <h3 style="text-align:center">find where to donate money:</h3>
                <div class="form-row">
                    <div class="col-5">
                        <input type="text" class="form-control" placeholder="Type of Charity">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="col">
                        <select id="inputState" class="form-control">
                          <option selected>State</option>
                          <option value="AL">AL</option>
                          <option value="AK">AK</option>
                          <option value="AZ">AZ</option>
                          <option value="AR">AR</option>
                          <option value="CA">CA</option>
                          <option value="CO">CO</option>
                          <option value="CT">CT</option>
                          <option value="DE">DE</option>
                          <option value="FL">FL</option>
                          <option value="GA">GA</option>
                          <option value="HI">HI</option>
                          <option value="ID">ID</option>                          
                          <option value="IL">IL</option>
                          <option value="IN">IN</option>
                          <option value="IA">IA</option>                          
                          <option value="KS">KS</option>
                          <option value="KY">KY</option>
                          <option value="LA">LA</option>
                          <option value="ME">ME</option>
                          <option value="MD">MD</option>
                          <option value="MA">MA</option>
                          <option value="MI">MI</option>
                          <option value="MN">MN</option>
                          <option value="MS">MS</option>
                          <option value="MO">MO</option>
                          <option value="MT">MT</option>
                          <option value="NE">NE</option>
                          <option value="NV">NV</option>
                          <option value="NH">NH</option>
                          <option value="NJ">NJ</option>                          
                          <option value="NM">NM</option>
                          <option value="NY">NY</option>
                          <option value="NC">NC</option>                          
                          <option value="ND">ND</option>
                          <option value="OH">OH</option>
                          <option value="OK">OK</option>
                          <option value="OR">OR</option>
                          <option value="PA">PA</option>
                          <option value="RI">RI</option>
                          <option value="SC">SC</option>
                          <option value="SD">SD</option>
                          <option value="TN">TN</option>
                          <option value="TX">TX</option>
                          <option value="UT">UT</option>
                          <option value="VT">VT</option>
                          <option value="VA">VA</option>
                          <option value="WA">WA</option>
                          <option value="WV">WV</option>                          
                          <option value="WI">WI</option>
                          <option value="WY">WY</option>                     
                        </select>
                    </div>
                    <button id="charity-btn" type="button" class="btn btn-outline-info">submit</button>
                  </div>
            </form>
        </div>
        <div class="col-md-6">
            <form>
              <h3 style="text-align:center">find where to donate time:</h3>
              <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="col">
                    <select id="inputState" class="form-control">
                      <option selected>State...</option>
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>                          
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>                          
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>                          
                      <option value="NM">NM</option>
                      <option value="NY">NY</option>
                      <option value="NC">NC</option>                          
                      <option value="ND">ND</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PA">PA</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WV">WV</option>                          
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>     
                    </select>
                </div>
                <button id="volunteer-btn" type="button" class="btn btn-outline-info">submit</button>
              </div>
        </form>
        </div>
  </div>
</div>
<br>
{{! CARDS }}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="images/RedCross.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">American Red Cross</h5>
              <p class="card-text">The American Red Cross, also known as The American National Red Cross, is a humanitarian organization that provides emergency assistance, disaster relief, and disaster preparedness education in the United States.</p>
              <a href="https://www.redcross.org/donate/donation.html/" class="btn btn-outline-info">Let Me Help!</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="images/ASPCA.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ASPCA</h5>
              <p class="card-text">The American Society for the Prevention of Cruelty to Animals is a non-profit organization dedicated to preventing cruelty to animals. Based in New York City since its inception in 1866, the organization's mission is "to provide effective means for the prevention of cruelty to animals throughout the United States.</p>
              <a href="https://secure.aspca.org/donate/donate?ms=wb_top_donate&initialms=wb_top_donate&pcode=WEBMEMBER&lpcode=WEBGUARD" class="btn btn-outline-info">Let Me Help!</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="images/Trevor.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The Trevor Project</h5>
              <p class="card-text">The Trevor Project is an American non-profit organization founded in 1998 focused on suicide prevention efforts among lesbian, gay, bisexual, transgender, and questioning youth. Through a toll-free telephone number, it operates The Trevor Lifeline, a confidential service that offers trained counselors.</p>
              <a href="https://give.thetrevorproject.org/give/63307/#!/donation/checkout" class="btn btn-outline-info">Let Me Help!</a>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 13rem;">
        <img class="card-img-top" src="images/bbbs.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Big Brother Big Sisters of America</h5>
              <p class="card-text">Big Brothers Big Sisters of America is a 501 non-profit organization whose goal is to help all children reach their potential through professionally supported, one-to-one relationships with volunteer mentors. Big Brothers Big Sisters is one of the oldest and largest youth mentoring organizations in the United States.</p>
              <a href="https://secured.bbbs.org/ea-action/action?ea.campaign.id=57589&ea.client.id=2000&_ga=2.14883761.629975834.1537060960-1032957540.1537060960" class="btn btn-outline-info">Let Me Help!</a>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered signIn" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-signin">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block signin" type="submit">Sign in</button>
                  
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
              </form>
        </div>
      </div>
    </div>
  </div>
<!-- Modal -->
<div class="modal fade" id="signUp" tabindex="-2" role="dialog" aria-labelledby="signUp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered signUp" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-signin">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword" class="sr-only">Confirm Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block signup" type="submit">Sign Up</button>
                  
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
              </form>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
