<h1>Log In</h1>
{{#if error}}error>> {{error}} {{/if}}
<form role="form" action="/login" method="post">
    <input type='text' id="inputEmail" class="form-control" name="email" placeholder='Enter email' />
    <input type='password' id="inputPassword" class="form-control" name="password" placeholder='Password' />
    <button type='submit' name="submit">Login</button>
</form>
