<h1>Sign Up</h1>
{{#if error}}error>> {{error}} {{/if}}
<form role="form" action="/register" method="post">
    <input type='text' id="firstName" class="form-control" name="name" placeholder='First Name' />
    <input type='text' id="lastName" class="form-control" name="name" placeholder='Last Name' />
    <input type='text' id="inputEmail" class="form-control" name="email" placeholder='Enter email' />
    <input type='password' id="inputPassword" class="form-control" name="password" placeholder='Password' />
    <button type='submit' name="submit">Sign up</button>
</form>
